*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Afacad', sans-serif;
    list-style: none;
    text-decoration: none;
    }
    
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 10px 10%;
        background: #fff;    
        border-bottom: 2px solid #2c2c2c;
    }

.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: burlywood;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
#icon-cart-navbar{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(./PicturesForWeb/bg3.jpg);
    background-position: center;
    background-size:cover ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-home h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-home h5{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-home p{
    color: #2c2c2c;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
display: inline-block;
color: #2c2c2c;
font-size: 16px;
font-weight: 500;
text-transform: capitalize;
border: 2px solid #2c2c2c;
padding: 12px 25px;
transition: all .42 ease;


}
.main-btn:hover{
    background-color: #2c2c2c;
    color: antiquewhite;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    padding: 12px 12px;

}
/* Product section */
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.row{
    padding: 20px;
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: 100%;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: burlywood;
    padding: 3px 10px;
    border-radius: 2px;
}
.cart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.cart-icon:hover{
    color:burlywood;
}
.price h4{
color: #111;
font-size: 16px;
text-transform: capitalize;
}
.price p{
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 600;
}

/* footer */
footer{
    position:relative;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
   
    justify-content: space-between;
    padding: 20px 10%;
}
.footer-container {
    display: flex;
    justify-content:center;
    background-color: #333;
    color: white;
    padding: 20px 10%;
}

.footer-info img {
    width: 100px;
}

.footer a{
    color: #ccc;
    font-size: 16px;
   
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.footer a:hover{
    color: burlywood;
}
.footer-links,
.footer-contact {
    color: #ccc;
    font-size: 16px;
   
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.footer-links h3,
.footer-contact h3 {
    color: #ccc;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px;
    color: white;
}
/* Scrolling */
header.stiky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}



#scroll-to-top {
    
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999; /* Визначте високий індекс z для забезпечення наверху */
}





/* Додайте цей код під ваш існуючий CSS код */

/* Контейнер корзини */
#cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding: 20px;
    z-index: 1001;
}

/* Відображення корзини при кліці на іконку корзини */
#cart-container.open {
    transform: translateX(0);
}

/* Закриваючий (хрестик) кнопка корзини */
#close-cart-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
}

/* Оформлення окремих товарів у корзині */
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item p {
    margin: 0;
}

.cart-item span {
    font-weight: bold;
}

/* Затемнення фону за корзиною при відкритті */
body.open-cart {
    overflow: hidden;
}
#checkout-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/* Додайте цей код під вашим існуючим CSS кодом */

/* Delivery form style */
body {
    font-family: 'Afacad', sans-serif;
}

h2 {
    color: #2c2c2c;
}

form {
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #2c2c2c;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button#submit-order-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}



/* Responsive*/
@media(max-width:890px) {
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
.main-text h1{
    font-size: 50px;
    transition: .4s;
}
.main-text p{
    font-size: 18px;
    transition: .4s;
}
.main-btn{
    padding: 10px 20px;
    transition: .4s;
}
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s ;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
    body.navmenu.open{
        overflow: hidden;
    }
}